<div  class="col-md-12">
  <div class="card card-secondary">
    <div class="card-header">
      <h3 class="card-title">{{date | date:'d.MM.y'}}</h3>
    </div>
    <div class="card-body">
      <ng-template  #viewContainerRef></ng-template>
     <div class="d-flex justify-content-center btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary" (click)="createComponent()">Add</button>   
      </div>
      
      
    </div>
  
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>