<div class="container-fluid">

  <div class="row">
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-link"></i></span>

        <div class="info-box-content">          
          <span class="info-box-number"><a href="https://www.veripark.com">Veripark Web Site</a></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"><i class="fab fa-twitter"></i></span>

        <div class="info-box-content">        
          <span class="info-box-number">
            <a href="https://twitter.com/VeriPark">Twitter</a>            
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>

    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-primary elevation-1"><i class="fab fa-linkedin-in"></i></span>

        <div class="info-box-content">
          <span class="info-box-number">
          <a href="https://www.linkedin.com/company/veripark">Linkedin</a> 
        </span>           
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
  
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-danger elevation-1"><i class="fab fa-youtube"></i></span>

        <div class="info-box-content">
          <span class="info-box-number">
          <a href="https://www.youtube.com/user/VeriParkSoftware">YouTube</a> 
        </span>           
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
  </div>


</div>